form {
    width: 26%;
    border:2px solid #fff;
    margin:0px;
    padding:35px;
    display: inline-block;
    position: relative;
}

textarea {
    resize: vertical; 
    max-height: 85px;
    border:0px solid #fff;
    color: #000;
    text-align: center;
}

textarea:hover, textarea:focus {
    border:2px solid #61ffa3;
    border-radius: 10px;
}

input[type="text"], input[type="password"] {
    padding: 5px;
    border:0px solid #fff;
    color: deepskyblue;
    text-align: center;
}

input[type="text"]:hover, input[type="password"]:hover, input[type="text"]:focus, input[type="password"]:focus {
    padding: 5px;
    border:2px solid #61ffa3;
    border-radius: 10px;
    color: deepskyblue;
    text-align: center;
}

input[type="submit"] {
    padding: 5px;
    border:0px solid #fff;
    border-radius: 10px;
    background-color: #ccc;
    color: #fff;
    text-align: center;
}

input[type="submit"]:hover {
    padding: 5px;
    border:2px solid #61ffa3;
    border-radius: 10px;
    background-color: #ccc;
    color: #fff;
    text-align: center;
}